src/main/resources/film.wsdl


        <!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4.  -->
        <!--  Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://film.service.pz4.ITtexn.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://film.service.pz4.ITtexn.com/" name="FilmServiceImplementService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://film.service.pz4.ITtexn.com/" schemaLocation="schema1.xsd"/>
            <xsd:import namespace="http://film.service.pz4.ITtexn.com/" schemaLocation="schema2.xsd"/>
        </xsd:schema>
    </types>
    <message name="countFilms">
        <part name="parameters" element="tns:countFilms"/>
    </message>
    <message name="countFilmsResponse">
        <part name="parameters" element="tns:countFilmsResponse"/>
    </message>
    <message name="deleteFilm">
        <part name="parameters" element="tns:deleteFilm"/>
    </message>
    <message name="deleteFilmResponse">
        <part name="parameters" element="tns:deleteFilmResponse"/>
    </message>
    <message name="updateFilm">
        <part name="parameters" element="tns:updateFilm"/>
    </message>
    <message name="updateFilmResponse">
        <part name="parameters" element="tns:updateFilmResponse"/>
    </message>
    <message name="getFilm">
        <part name="parameters" element="tns:getFilm"/>
    </message>
    <message name="getFilmResponse">
        <part name="parameters" element="tns:getFilmResponse"/>
    </message>
    <message name="insertFilm">
        <part name="parameters" element="tns:insertFilm"/>
    </message>
    <message name="insertFilmResponse">
        <part name="parameters" element="tns:insertFilmResponse"/>
    </message>
    <message name="getAllFilms">
        <part name="parameters" element="tns:getAllFilms"/>
    </message>
    <message name="getAllFilmsResponse">
        <part name="parameters" element="tns:getAllFilmsResponse"/>
    </message>
    <portType name="FilmService">
        <operation name="countFilms">
            <input wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/countFilmsRequest" message="tns:countFilms"/>
            <output wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/countFilmsResponse" message="tns:countFilmsResponse"/>
        </operation>
        <operation name="deleteFilm">
            <input wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/deleteFilmRequest" message="tns:deleteFilm"/>
            <output wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/deleteFilmResponse" message="tns:deleteFilmResponse"/>
        </operation>
        <operation name="updateFilm">
            <input wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/updateFilmRequest" message="tns:updateFilm"/>
            <output wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/updateFilmResponse" message="tns:updateFilmResponse"/>
        </operation>
        <operation name="getFilm">
            <input wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/getFilmRequest" message="tns:getFilm"/>
            <output wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/getFilmResponse" message="tns:getFilmResponse"/>
        </operation>
        <operation name="insertFilm">
            <input wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/insertFilmRequest" message="tns:insertFilm"/>
            <output wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/insertFilmResponse" message="tns:insertFilmResponse"/>
        </operation>
        <operation name="getAllFilms">
            <input wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/getAllFilmsRequest" message="tns:getAllFilms"/>
            <output wsam:Action="http://film.service.pz4.ITtexn.com/FilmService/getAllFilmsResponse" message="tns:getAllFilmsResponse"/>
        </operation>
    </portType>
    <binding name="FilmServiceImplementPortBinding" type="tns:FilmService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="countFilms">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteFilm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateFilm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFilm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="insertFilm">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllFilms">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FilmServiceImplementService">
        <port name="FilmServiceImplementPort" binding="tns:FilmServiceImplementPortBinding">
            <soap:address location="http://localhost:7777/film"/>
        </port>
    </service>
</definitions>